@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div id="body">
        <h1>Welcome to my Webpage!</h1>
        <br />
        <p>@ViewBag.TimeMessage01</p>
        <br />

        @Html.ActionLink("Link Page2", "WebPage2")
        <br />

        <a href="~/Home/WebPage2">Page2</a>
    </div>
</section>