
*{
	margin:0px;
	padding:0px;
	font-family: arial;
 }

body {

    width: 100%;
    padding: 0px;
	margin:0px;
    margin: 0 auto !important;
    background-color:gray;
}

#top-container{
    width: 1000px;
    height:40px;
    margin-left: auto;
	margin-right: auto;
    background-color:whitesmoke;
    color:blue;
    text-align: center;
}

#top-bar-nav{
    height:40px;
    padding:10px;
    background-color:darkgray;
}

#top-bar-nav li{
    display: inline;
	list-style: none;
}

.float-left{
    float:left;
    color:white;
}

.float-right{
    float:right;
    color:white;
}

#body-container{
    width: 1000px;
    height:2000px;
    padding-top:50px;
    margin-left: auto;
	margin-right: auto;
    background-color:whitesmoke;
    color:blue;
    text-align: center;
}

#body{
    margin-left: auto;
	margin-right: auto;
    color:blue;
    text-align: center;
}


